<!-- NAVBAR -->
<app-navbar [routes]="routesArray" [sidebarHidden]="sidebarHidden" (toggleSidebar)="toggleSidebar()"></app-navbar>

<!-- SIDEBAR -->
<app-sidebar [title]="title" [routes]="routesArray" [sidebarHidden]="sidebarHidden"></app-sidebar>

<!-- CONTENEDOR -->
<section class="pt-[80px] min-h-screen text-black dark:text-white transition-[margin-left] duration-300" [ngClass]="{
    'ml-[230px]': !sidebarHidden,
    'ml-[70px] mmax-[450px]:min-w-[400px]': sidebarHidden,
  }"
  >
    <!-- Title component -->
    <div class="text-black dark:text-white font-bold text-xl ml-[20px]">
        <h1>{{ title_component }}</h1>
        <div class="h-[3px] mb-[15px] rounded-[50px] bg-primary dark:bg-dark-primary" style="width: calc(5px * var(--title-length, 0));"></div>
    </div>
    <!-- Componentes -->
    <div class="m-0 relative py-[5px] px-[20px] max-[630px]:absolute"
        [ngClass]="{'max-[630px]:relative max-[470px]:absolute': sidebarHidden}">
        <router-outlet></router-outlet>
    </div>
</section>

<!-- Toast de Alerta -->
<JAlertToast [position]="'top-right'" [monocromatic]="true"></JAlertToast>
<JAlertDialog [monocromatic]="true"></JAlertDialog>



<!-- 
<section class="w-full h-full flex flex-col items-center justify-center p-4 bg-white dark:bg-foreground">
  <JTheme></JTheme>
  
  <div class="grid grid-cols-3 gap-2">

    <div class="flex flex-col gap-2">
      <h1 class="font-bold text-center text-black dark:text-white text-xl">Formulario</h1>

      <JLabel [isRequired]="true">Es un label</JLabel>

      <JInput type="text" placeholder="Input text" />
      <JInput type="textarea" placeholder="Input textarea" />
      <JInput type="date" placeholder="Input date" />
      <JInput type="datetime-local" placeholder="Input datetime" />
      <JInput type="email" placeholder="Input email" />
      <JInput type="file" [clearButton]="true" [showImage]="true" placeholder="Input file" />
      <JInput type="number" placeholder="Input number" />
      <JInput type="password" placeholder="Input password" />
      <JInput type="range" placeholder="Input range" />

      <JCheckbox [isChecked]="true" text="Checkbox" />
      <JCheckbox onKeyPress type="switch" [isChecked]="checked" (click)="checked = !checked" text="Checkbox" />

      <JButton [icon]="icons.ruler" classes="secondary w-full" jTooltip="Esto es un tooltip" text="hola"> xd </JButton>
    </div>

    <JModeToggle />
  </div>

  <div class="flex flex-col gap-2">
    <h1 class="font-bold text-center text-black dark:text-white text-xl">Dialog</h1>

    <JButton [icon]="icons.ruler" classes="primary w-full" (clicked)="isDialogOpen = !isDialogOpen"> Abrir dialog
    </JButton>

    <JDialog [openModal]="isDialogOpen" (closeModal)="isDialogOpen = false" title="Dialog title"
      [dialogTemplate]="templateDialog" position="center" [draggable]="true" [overlay]="false" />

    <ng-template #templateDialog>
      <div class="m-0 pt-1">
        Dialog
      </div>
    </ng-template>

    <JButton classes="primary" [icon]="icons.ruler" (clicked)="openToast()">Abrir toast </JButton>
    <JButton classes="primary" [icon]="icons.ruler" (clicked)="openDialog()">Abrir dialog </JButton>

    <JSelect
        [type]="'searchable'"
        endpoint="control"
        optionLabel="name_control"
        optionValue="id_control"
        [loadOnInit]="true"
        [placeholder]="'Controles...'"
        [showClear]="true" 
    />

    <JToggleRadio
      endpoint="control"
      optionLabel="name_control"
      optionValue="id_control"
      [loadOnInit]="true"
    />



  </div>
</section>


<JAlertToast></JAlertToast>
<JAlertDialog></JAlertDialog> -->