
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #f1e9fc;
  --color-foreground: #181a1b;
  --color-card: #e5e0eb;
  --color-card-foreground: #24103d;
  --color-popover: #f2f0f4;
  --color-popover-foreground: #11051f;
  --color-primary: #6425b1;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #bdadd2;
  --color-secondary-foreground: #000000;
  --color-muted: #d8d6dc;
  --color-muted-foreground: #62418b;
  --color-accent: #d1ced4;
  --color-accent-foreground: #24103d;
  --color-destructive: #BF3F3F;
  --color-destructive-foreground: #f2f0f4;
  --color-border: #9574be;
  --color-input: #9574be;
  --color-ring: #6425b1;

  --color-dark-background: #12131d;
  --color-dark-foreground: #e5e2e9;
  --color-dark-card: #130820;
  --color-dark-card-foreground: #e5e2e9;
  --color-dark-popover: #07030c;
  --color-dark-popover-foreground: #e5e2e9;
  --color-dark-primary: #44236c;
  --color-dark-primary-foreground: #FFFFFF;
  --color-dark-secondary: #311d49;
  --color-dark-secondary-foreground: #FFFFFF;
  --color-dark-muted: #3e324e;
  --color-dark-muted-foreground: #988aa8;
  --color-dark-accent: #3e324e;
  --color-dark-accent-foreground: #e5e2e9;
  --color-dark-destructive: #BF3F3F;
  --color-dark-destructive-foreground: #e5e2e9;
  --color-dark-border: #6f499d;
  --color-dark-input: #6f499d;
  --color-dark-ring: #44236c;
  --color-radius: 0.5rem;
  --color-dark-radius: 0.5rem;
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgba(18, 18, 18, var(--tw-bg-opacity));
  color: var(--white);
}

@layer utilities {
  .bg-primary {}
  .dark\:bg-dark-primary {}
  .bg-background {}
  .dark\:bg-dark-background {}
  .bg-accent {}
  .dark\:bg-dark-accent\/50 {}
  .text-white {}
  .text-black {}
  .text-gray-400 {}
  .hover\:text-gray-600 {}
  .text-gray-500 {}
  .dark\:text-white {}
  .rounded {}
  .rounded-md {}
  .rounded-lg {}
  .rounded-full {}
  .rounded-\[10px\] {}
  .rounded-\[12px\] {}
  .border {}
  .border-border {}
  .dark\:border-dark-border {}
  .hover\:bg-dark-primary {}
  .hover\:bg-accent {}
  .shadow-md {}
  .shadow-lg {}
  .transition {}
  .transition-all {}
  .duration-300 {}
  .ease-in-out {}
  .select-none {}
  .animate-spin {}
  .min-w-\[40px\] {}
  .min-w-\[50px\] {}
  .min-w-\[75px\] {}
  .max-w-\[250px\] {}
  .w-full {}
  .h-full {}
  .h-\[35px\] {}
  .h-\[40px\] {}
  .p-1 {}
  .p-2 {}
  .p-3 {}
  .px-3 {}
  .py-2 {}
  .pt-1 {}
  .pb-1 {}
  .mt-1 {}
  .mb-3 {}
  .ml-1 {}
  .mr-1 {}
  .gap-1 {}
  .gap-2 {}
  .gap-3 {}
  .gap-5 {}
  .flex {}
  .flex-col {}
  .flex-row {}
  .flex-wrap {}
  .items-center {}
  .justify-center {}
  .justify-between {}
  .space-x-1 {}
  .overflow-hidden {}
  .overflow-auto {}
  .overflow-x-auto {}
  .overflow-x-hidden {}
  .overflow-y-auto {}
  .text-center {}
  .text-left {}
  .text-right {}
  .cursor-pointer {}
  .cursor-default {}
  .cursor-not-allowed {}
  .pointer-events-none {}
}
