<section class="flex flex-col gap-10 text-black dark:text-white text-lg">
    <div class="flex flex-col gap-3">
      <h1 class="text-3xl font-bold">Generador de tema</h1>
      <p class="opacity-80">
        Elige el color primario de tu aplicación, <code><b class="text-primary">JTheme</b></code> creará automáticamente la configuración ideal del
        tema para aplicarla en todos los componentes visuales de la librería.
      </p>
      <JTheme></JTheme>
    </div>
  
    <div class="flex flex-col gap-3">
      <h2 class="text-2xl font-semibold">¿Cómo aplicar el tema?</h2>
      <p class="opacity-80">
        El bloque de variables generado por <code class="text-primary">JTheme</code> debe colocarse dentro de tu archivo de estilos principal,
        por ejemplo <code><b>styles.scss</b></code>, dentro del selector <code>theme</code>. Ten en cuenta que para que funcione esto deberas tener ya instalado <b>Tailwind v4</b> para <b>Angular +17</b>. A continuación te mostramos qué más debes incluir para aplicar correctamente los estilos base.
      </p>
  
      <h3 class="text-lg font-semibold mt-4">1. Estructura base de la aplicación</h3>
      <p class="opacity-80">
        Asegura que la raíz de tu app se expanda correctamente y que el scroll horizontal esté desactivado:
      </p>
      <JCodeBlock
        [code]="`html, body {
    font-family: 'Arial', sans-serif;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }`"
        language="scss"
      />
  
      <h3 class="text-lg font-semibold mt-4">2. Instrucciones específicas de Tailwind</h3>
      <p class="opacity-80">
        Estas instrucciones permiten que Tailwind cargue correctamente las utilidades y defina variantes personalizadas como el modo oscuro:
      </p>
      <JCodeBlock
        [code]="`@import 'tailwindcss';
  
@custom-variant dark (&:where(.dark, .dark *));
  
// Este es el bloque generado automáticamente por JTheme
@theme { }
  
.dark {
    --tw-bg-opacity: 1;
    background-color: rgba(18, 18, 18, var(--tw-bg-opacity));
    color: var(--white);
}`"
        language="scss"
      />
  
      <h3 class="text-lg font-semibold mt-4">3. Personalización del scroll</h3>
      <p class="opacity-80">
        Este fragmento mejora la apariencia del scroll en todos los navegadores basados en WebKit, y usa los colores definidos en tu tema, solo debes agregar la clase en el contenedor que quieras personalizar:
      </p>
      <JCodeBlock
        [code]="`.scroll-element {
    padding-right: 5px;
  
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  
    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: var(--color-primary);
      transition: 0.5s;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: var(--color-dark-primary);
    }
  
    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }
  }`"
        language="scss"
      />


      <h3 class="text-lg font-semibold mt-4">4. Configuración en el archivo HTML</h3>
      <p class="opacity-80">
        Para que el tema se aplique correctamente en toda la aplicación, debes asegurarte de incluir estos atributos y clases en tu archivo <code>index.html</code>.
      </p>
      <JCodeBlock
          [code]="`<html lang='en\' data-theme='dark'>

<body class='bg-background dark:bg-dark-background transition duration-300 scroll-element'>
    <app-root></app-root>
</body>`"
          language="html"
      />
    </div>
      
  </section>
  