@import "tailwindcss";

html, body {
  font-family: 'Arial', sans-serif;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden; // evita desplazamiento lateral
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-background: #f1e9fc;
  --color-foreground: #181a1b;
  --color-card: #e5e0eb;
  --color-card-foreground: #24103d;
  --color-popover: #f2f0f4;
  --color-popover-foreground: #11051f;
  --color-primary: #6425b1;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #bdadd2;
  --color-secondary-foreground: #000000;
  --color-muted: #d8d6dc;
  --color-muted-foreground: #62418b;
  --color-accent: #d1ced4;
  --color-accent-foreground: #24103d;
  --color-destructive: #BF3F3F;
  --color-destructive-foreground: #f2f0f4;
  --color-border: #9574be;
  --color-input: #9574be;
  --color-ring: #6425b1;

  --color-dark-background: #12131d;
  --color-dark-foreground: #e5e2e9;
  --color-dark-card: #130820;
  --color-dark-card-foreground: #e5e2e9;
  --color-dark-popover: #07030c;
  --color-dark-popover-foreground: #e5e2e9;
  --color-dark-primary: #44236c;
  --color-dark-primary-foreground: #FFFFFF;
  --color-dark-secondary: #311d49;
  --color-dark-secondary-foreground: #FFFFFF;
  --color-dark-muted: #3e324e;
  --color-dark-muted-foreground: #988aa8;
  --color-dark-accent: #3e324e;
  --color-dark-accent-foreground: #e5e2e9;
  --color-dark-destructive: #BF3F3F;
  --color-dark-destructive-foreground: #e5e2e9;
  --color-dark-border: #6f499d;
  --color-dark-input: #6f499d;
  --color-dark-ring: #44236c;
  --color-radius: 0.5rem;
  --color-dark-radius: 0.5rem;
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgba(18, 18, 18, var(--tw-bg-opacity));
  color: var(--white);
}

// Scroll
.scroll-element {
    padding-right: 5px;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    
    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: var(--color-primary);
      transition: 0.5s;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: var(--color-dark-primary);
    }
    
    &::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }
}

