<section class="flex flex-col gap-10 text-black dark:text-white text-lg">
    <div class="flex flex-col gap-3">
      <h1 class="text-3xl font-bold">Instalación de Tailwind CSS</h1>
      <p class="opacity-80">
        A continuación se describen los pasos necesarios para instalar y configurar <b>Tailwind CSS v4</b> en un proyecto Angular 17+ usando PostCSS. Tambien puedes ver en <a href="https://tailwindcss.com/docs/installation/framework-guides/angular" target="_blank" class="text-blue-500 hover:underline">Tailwind CSS</a> la documentación oficial.
      </p>
    </div>
  
    <div class="flex flex-col gap-3">
  
      <h3 class="text-lg font-semibold">1. Instalar Tailwind CSS</h3>
      <p class="opacity-80">
        Instala <code>tailwindcss</code> y sus dependencias necesarias:
      </p>
      <JCodeBlock
        [code]="`npm install tailwindcss @tailwindcss/postcss postcss --force`"
        language="bash"
      />
  
      <h3 class="text-lg font-semibold">2. Configurar PostCSS</h3>
      <p class="opacity-80">
        Crea el archivo <code>.postcssrc.json</code> en la raíz del proyecto y añade el plugin de Tailwind:
      </p>
      <JCodeBlock
        [code]="`{
    plugins: {
        @tailwindcss/postcss: {}
    }
}`"
        language="json"
      />
  
      <h3 class="text-lg font-semibold">3. Importar Tailwind en los estilos</h3>
      <p class="opacity-80">
        Finalmente, importa Tailwind en tu archivo de estilos global <code>styles.css</code>:
      </p>
      <JCodeBlock
        [code]="`@import 'tailwindcss';`"
        language="scss"
      />
    </div>
  </section>
  